<img src="" alt="chocco logo" class="logo">


<div class="hero__icons-section">
    <ul class="features">
        <li class="features__item feature">
            <div class="feature__icon">
                <img src="img/leavesmall.png" alt="leaf icon" class="">
            </div>
            <div class="feature__text">100% натуральный продукт </div>
        </li>
        <li class="features__item feature">
            <div class="feature__icon">
                <img src="img/truck.png" alt="truck icon" class="">
            </div>
            <div class="feature__text">3-5 дней доставка по РФ </div>
        </li>
        <li class="features__item feature">
            <div class="feature__icon">
                <img src="img/measure.png" alt="measure icon" class="">
            </div>
            <div class="feature__text">Не портит фигуру </div>
        </li>
    </ul>
</div>