@charset "UTF-8";
.reviews-section {
  position: relative;
  background: url("../pictures/Ягода 4.png") right top no-repeat url("../pictures/Узор 4.png") left center no-repeat;
}
.reviews-section:before {
  content: url("../pictures/Ягоды.png");
  position: absolute;
  bottom: -40px;
  left: 0;
}